doctype html
html(lang='en')
  head
    title CSS Rain
  body
    .rain
      - var n = 100;
      - for (var i = 0; i < n; i++) {
        .drop
      - }
    link(rel='stylesheet', href='./index.scss')
